<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <p>Welcome to the about page of Week 1 Assignment</p>
    <p>My name is Huy Xuon Lieu and I am going to be a web developer.</p>
    <p>
      I love playing games, but after getting married I spend less time on
      playing to have more time to study. I try to teach myself about web
      development by reading books and following courses online. Honestly, I do
      not really understand how things work under the hood, but at least I can
      focus on the detail in classes because I already have some basic
      understanding about the lessons in my mind.
    </p>
    <p>
      The best thing that I experience is that many programmers are willing to
      help beginners like me. They spend a good amount of time to write the
      answer that is simple enough for me to understand even when they do not
      have to. Quora is my favorite website to ask and learn from other people.
      The worst thing that I experience when teaching myself is being a wanderer
      in a forest of knowledge. In order to understand something that I do not
      know, I have to study about many other things that I do not know. When I
      practice on projects, there are a lot of things that I do not know and
      error that I do not know how to solve. Some of them are understandable,
      but many of them require a lot of knowledge to understand or tackle. I
      remember when I followed along a Nodejs course on Udemy, I have to watch
      the lessons over again just to know what I was doing. Then I hit the CORS
      error from Mapbox API, luckily, I found the solution, but I did not know
      how did it happen because it did not work on other pages but it worked
      fine on the homepage.
    </p>
    <p>
      Taking a class that is taught by a developer encourages me a lot. Thank
      you for reading till this point.
    </p>
  </body>
</html>
