<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
	<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
      <div id ="root"></div>
  </body>
<script type="text/babel">
const product = <%- product %>;

const Product = ({product}) => {
  return <div>
            <h1>{product.name}</h1>
            <h3>{product.promote}</h3>
            <p>price: {product.price}</p>
            <p>type: {product.type}</p>
            <p>brand: {product.brand}</p>
            <p>volume: {product.volume}ML</p>
            <p>rating: {product.ratingAverage}/5 ({product.ratingAmount})</p>
            <a href="/"> Back to Home Page</a>
        </div>
}

ReactDOM.render(
  <Product product={product} />,
  document.getElementById('root'));
</script>
</html>
